codemark.luke.zone {
    @notSocket {
        not {
            path /ws/*
        }
    }
    reverse_proxy @notSocket wsgi:8000
    reverse_proxy /ws/* asgi:9000
}

www.codemark.luke.zone {
    redir https://codemark.luke.zone{uri}
}